*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position:relative;
}


body{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-evenly;
    background:linear-gradient(to right,gray,lightgray)
}


.puzzleBoard, .piecesArea{
    width:90%;
    height:30%;
    border:1px solid black;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    background:linear-gradient(to right,lightgray,white)
}

.square{
    height:80%;
    width:20%;
    border:1px solid black;

}

.circle{
    border-radius:50%;
    border:1px solid black;
    height:80%;
    width:20%;
}

.rectangle{
    width:35%;
    height:80%;
    border:1px solid black;
}

.headerh1{
    background:linear-gradient(to right,lightgray,white);
    border-radius:5%;
}


.puzzle1, .puzzle2, .puzzle3{
    background:black;
    transition:1s ease;
}

.piece1{
    background:orange;
    cursor:pointer;
}

.piece2{
    background:blue;
    cursor:pointer;

}

.piece3{
    background:yellow;
    cursor:pointer;

}


.dynamite{
    width:200px;
    height:10px;
    border:1px solid black;
}

.dynoBar{
    height:100%;
    width:0;
    background:red;
    transition:1s ease;
}


.correctBars{
    width:200px;
    height:30px;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
}

.bar{
    width:30%;
    height:100%;
    border-radius:25%;
    border:1px solid black;
    display:none;
}


.playSpan{
    display:flex;
    align-items:center;
    justify-content: center;
}

.playSpan > button{
    background:red;
    margin: 0px 5px;
    cursor:pointer;
    transition:1s ease;

}


.playSpan > button:hover{
    opacity:.8

}